VITE_SUPABASE_URL=https://ugppkllaeoewpkhklfry.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVncHBrbGxhZW9ld3BraGtsZnJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1NjM5NDQsImV4cCI6MjA5MzEzOTk0NH0.zRW0ghLFrOVVUS0rrA0mkQc39b_tO40a5rSqylVYe1I
